body {
  padding-top: 55px;
}
body .swiper-container {
  height: 3.466667rem;
}
body .swiper-container .swiper-wrapper {
  height: 100%;
}
body .res .res__wrap {
  width: 100%;
  display: flex;
  font-size: 0;
  flex-wrap: wrap;
}
body .waterfall {
  background-color: #f6f6f6;
}
body .waterfall .waterfall-list {
  column-count: 2;
  column-gap: 0.266667rem;
  padding: 0 0.266667rem;
}
