html {
    background-color: #f2f2f2;
    body {
        padding-top: 25px;
        padding-left: 0.16rem;
        padding-right: 0.16rem;
        .my {
            .account-info {
                display: flex;
                .avatar-img {
                    width: 1.546667rem;
                    height: 1.546667rem;
                    border-radius: 100%;
                    border: #fff 2px solid;
                    overflow: hidden;
                    img {
                        height: 100%;
                    }
                }
                .account-name {
                    padding: 0 10px;
                    flex: 1;
                    line-height: 0.773333rem;
                    p {
                        font-size: 17px;
                    }
                    span {
                        border-radius: 0.266667rem;
                        font-size: 0.133333rem;
                        padding: 0.133333rem;
                        color: #fff;
                        background-color: #a3a4a3;
                        margin-top: 0.133333rem;
                        margin-right: 10px;
                    }
                }
                .member-center {
                    line-height: 1.546667rem;
                    span {
                        padding: 0.266667rem;
                        border-radius: 0.533333rem;
                        background-color: #dfb38f;
                        color: #533012;
                    }
                }
            }
            .my-icon-tab1 {
                margin: 18px 0;
            }
            .my-cart-wrap {
                .my-cart-img {
                    background: url("../../../public/cart.png");
                    border-radius: 6px;
                    // overflow: hidden;
                    // background-color: #fff;
                    width: 4.56rem;
                    height: 3.2rem;
                    // span {
                    //     position: absolute;
                    // }
                    img {
                        width: 100%;
                        float: right;
                    }
                }
            }
        }
    }
}